<div id="page">
  <nav class="gtco-nav" role="navigation">
    <div class="container">
      <div class="row">
        <div class="col-sm-2 col-xs-12">
          <div id="gtco-logo">
            <a href="home">Man<em>sions</em></a>
          </div>
        </div>
        <div class="col-xs-10 text-right menu-1 ">
          <ul>
            <li><a href="home">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="practiceareas">Practice Areas</a></li>
            <li><a href="team">Our Team</a></li>
            <li class="btn-cta">
              <a href="contact"><span>Contact</span></a>
            </li>
            <!-- For external page link -->
            <!-- <li><a href="http://freehtml5.co/" class="external">External</a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>

  <footer id="gtco-footer" role="contentinfo">
    <div class="container">
      <div class="row copyright">
        <div class="col-md-12">
          <p class="pull-left">
            <small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small>
            <small class="block"
              >Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo
              Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a></small
            >
          </p>
          <p class="pull-right"></p>
          <ul class="gtco-social-icons pull-right">
            <li>
              <a href="#"><i class="icon-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="icon-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="icon-linkedin"></i></a>
            </li>
            <li>
              <a href="#"><i class="icon-dribbble"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>

<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
