<section id="gtco-our-team">
  <div class="container">
    <div class="row row-pb-md">
      <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
        <h1>Our Team</h1>
        <p class="sub">
          List of famous realtors, with photos, bios, and other information when available. Who are
          the top realtors in the world? This includes the most prominent realtors, living and dead,
          both in America and abroad. This list of notable realtors is ordered by their level of
          prominence, and can be sorted for various bits of information, such as where these
          historic realtors were born and what their nationality is. The people on this list are
          from different countries, but what they all have in common is that they're all renowned
          realtors.
        </p>
        <p class="subtle-text animate-box" data-animate-effect="fadeIn">Our Team</p>
      </div>
    </div>
    <div class="row team-item gtco-team-reverse">
      <div class="col-md-6 col-md-push-7 animate-box" data-animate-effect="fadeInRight">
        <div class="img-shadow">
          <img
            src="./assets/images/img_team_1.jpg"
            class="img-responsive"
            alt="Free HTML5 Bootstrap Template by FreeHTML5.co"
          />
        </div>
      </div>
      <div class="col-md-6  col-md-pull-6 animate-box" data-animate-effect="fadeInRight">
        <h2>Brian Bosworth</h2>
        <p>
          Brian Keith Bosworth, nicknamed "The Boz," is an American former professional football
          player who played as a linebacker for the National Football League's Seattle Seahawks. He
          played in the NFL for three seasons during the 1980s. Bosworth played college football for
          the University of Oklahoma, and was a two-time consensus All-American.
        </p>
        <p>
          He gained fame and notoriety through his flamboyant personality, controversial comments
          about the National Collegiate Athletic Association and radical hair cuts. Since 1991,
          Bosworth has been a Hollywood film actor
        </p>
      </div>
    </div>

    <div class="row team-item gtco-team">
      <div class="col-md-6 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft">
        <div class="img-shadow">
          <img
            src="./assets/images/img_team_2.jpg"
            class="img-responsive"
            alt="Free HTML5 Bootstrap Template by FreeHTML5.co"
          />
        </div>
      </div>
      <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
        <h2>Blake Richards</h2>
        <p>
          Blake Richards is a Canadian politician, who was first elected to represent the electoral
          district of Wild Rose in the 2008 Canadian federal election. He was re-elected in the 2011
          election, and is a member of the Conservative Party in the House of Commons.
        </p>
        <p>
          Richards is the Official Opposition Shadow Minister for Small Business, Export Promotion
          and Tourism. He also serves on the House of Commons Standing Committee on Finance. In the
          41st Parliament, Richards was Chair of the Parliamentary Tourism Caucus and served as
          Chair of the House of Commons' Standing Committee on Aboriginal Affairs and Northern
          Development and the Special Committee on Co-operatives. He has also been a member of the
          committees on International Trade; Public Safety and National Security; Procedure and
          House Affairs; Canadian Heritage; Agriculture; and Transport, Infrastructure and
          Communities.
        </p>
      </div>
    </div>
  </div>
</section>
