<section id="gtco-about">
  <div class="container">
    <div class="row row-pb-md">
      <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
        <h1>Welcome To Our Property Offices</h1>
        <p class="sub">
          Buying a home is more like buying a used car than renting an apartment. You need to ask
          questions, look under the hood and take it for a spin. Turn on all the faucets. Flush the
          toilet. Blast the heat and see what happens.
        </p>
        <p class="subtle-text animate-box" data-animate-effect="fadeIn">Welcome</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft">
        <div class="img-shadow">
          <img
            src="./assets/images/img_1.jpg"
            class="img-responsive"
            alt="Free HTML5 Bootstrap Template by FreeHTML5.co"
          />
        </div>
      </div>
      <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
        <h2 class="heading-colored">Excellence &amp; Honesty</h2>
        <p>
          In our day-to-day work, the first proposed solution is often not the best one. It takes
          several iterations to get to the desired outcome or performance level. Steady progress
          oftentimes involves a tradeoff between time to get there and learning through mistakes;
          great organisations and leaders strike the right balance with an eye on the medium to long
          term. At heart of this lies intellectual honesty as a fundamental cultural tenet,
          nurturing and supporting steady sustainable progress.
        </p>
        <p>
          <a href="#" class="read-more">Read more <i class="icon-chevron-right"></i></a>
        </p>
      </div>
    </div>
  </div>
</section>
